{% extends "aldryn_newsblog/base.html" %}
{% load i18n cms_tags apphooks_config_tags %}
{% load staticfiles %}

{% block header_css %}
	<link href="{% static 'css/code.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'css/default.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'css/blog.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'prettify/css/prettify.min.css' %}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block head_js %}
    <script src="{% static 'prettify/js/run_prettify.min.js' %}"></script>
    <script src="{% static 'prettify/js/prettify.min.js' %}"></script>
{% endblock %}

    <link href="https://cdn.bootcss.com/prettify/r298/prettify.min.css" rel='stylesheet' type='text/css'>
    <script src="https://cdn.bootcss.com/prettify/r298/prettify.min.js"></script>
    <script src="https://cdn.bootcss.com/prettify/r298/run_prettify.min.js"></script>

<style>
{% block style %}

{% endblock %}
</style>

{% block title %}
    {{ article.title }} - {{ block.super }}
{% endblock %}

{% block newsblog_content %}

    {% include "aldryn_newsblog/includes/article.html" with detail_view="true" %}

    {% static_placeholder "newsblog_social" %}

    <div class="text-center pull-right">
        <ul class="pagination">
            {% if prev_article %}
                <li class="page-item"><a class="page-link" href="{{ prev_article.get_absolute_url }}">{% trans "Previous Article" %}</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="{% namespace_url "article-list" %}">{% trans "Back to Overview" %}</a></li>
            {% if next_article %}
                <li class="page-item"><a class="page-link" href="{{ next_article.get_absolute_url }}">{% trans "Next Article" %}</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}


