{% extends "base.html" %}
{% load i18n cms_tags %}

{% block content %}
    {% for group in group_list %}
        <div class="alert alert-info" role="alert">
          <h2>{% render_model group 'name' %}</h2>
        </div>   
        {% for person in group.people.all|dictsort:"name" %}
            {% include "aldryn_people/includes/person.html" with person=person %}
        {% endfor %}
    {% endfor %}
    {% if ungrouped_people %}
        <div class="alert alert-info" role="alert">
          <h2>{% trans "Ungrouped" %}</h2>  
        </div>   
        {% for person in ungrouped_people %}
            {% include "aldryn_people/includes/person.html" with person=person %}     
            <br>
        {% endfor %}
        </div>
    {% endif %}



{% endblock content %}
