{% extends "textcourse_base.html" %}
{% load staticfiles %}
{% load hitcount_tags %}

{% block header_css %}

    <link href="{% static 'css/default.css' %}" rel='stylesheet' type='text/css'>    
    <link href="{% static 'css/code.css' %}" rel='stylesheet' type='text/css'>    
    <link href="{% static 'css/blog.css' %}" rel='stylesheet' type='text/css'>
{% endblock %}


{% block content_wrapper %}

<style type="text/css">
    .sidebar>ul{
        padding-left: 1px;
    }

    .sidebar ul{
        padding-bottom: 1px;
        margin-bottom: 1px;
    }

    .sidebar a{
        padding-top: 8px;
        padding-bottom: 8px;
        border: hidden;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 18px;
        line-height: 20px;
        color: #444;
    }

    body{
        background-color: #eeeeee;
    }

    .top-info{
        color: grey;
        font-size: smaller;
    }

    .top-info i{
        padding-right: 30px; 
    }

    @media only screen and (max-width: 767px){
        .content-nav-bar {
            display: none;
        }
    }    

</style>

<div class="container-fluid article-body">  
    <div class="row">
        <div class="col-sm-3 content-nav-bar">
            <div class="sidebar list-group-item">
                <span>Contents:</span>
                <hr>
                {% include "mptt.html" %}
            </div>
        </div>
        <div class="col-sm-9 article-content">
            <div class="top-info">
                <h3 style="margin:0px!important;">{{object.course}}</h3><br>
                <i class="fa fa-eye"> {% get_hit_count for object %} 浏览</i>
                <i class="fa fa-clock-o"> {{object.timestap|timesince}}</i>
            </div>
            <hr>
            版权声明: 转载请注明出处 <a href="http://www.codingsoho.com/">http://www.codingsoho.com/</a> 
            <h3>{{object.title}}</h3>

            {{object.get_markdown}}
        </div>
    </div>
    <br>
    <div class="text-center pull-right">
        <ul class="pagination">            
            <li class="page-item {% if not object.previous %}disabled{% endif %}"><a class="page-link" href="{{object.previous.get_absolute_url}}">上一篇</a></li>            
            <li class="page-item"><a class="page-link" href="{{object.course.get_absolute_url}}">回到目录</a></li>            
            <li class="page-item {% if not object.next %}disabled{% endif %}"><a class="page-link" href="{{object.next.get_absolute_url}}">下一篇</a></li>            
        </ul>
    </div>
    <br>
</div>

{% endblock%}
