{% extends "textcourse_base.html" %}
{% load staticfiles %}
{% load hitcount_tags %}
{% load i18n %}
{% load myutils %}

{% block header_css %}

    <link href="{% static 'css/default.css' %}" rel='stylesheet' type='text/css'>    
    <link href="{% static 'css/code.css' %}" rel='stylesheet' type='text/css'>    
    <link href="{% static 'css/blog.css' %}" rel='stylesheet' type='text/css'>
{% endblock %}


{% block content_wrapper %}

<style type="text/css">
    .sidebar>ul{
        padding-left: 1px;
    }

    .sidebar ul{
        padding-bottom: 1px;
        margin-bottom: 1px;
    }

    .sidebar a{
        padding-top: 8px;
        padding-bottom: 8px;
        border: hidden;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 18px;
        line-height: 20px;
        color: #444;
    }

    body{
        background-color: #eeeeee;
    }

    .top-info{
        color: grey;
        font-size: smaller;
    }

    .top-info i{
        padding-right: 30px; 
    }

    @media only screen and (max-width: 767px){
        .content-nav-bar {
            display: none;
        }
    }    

</style>

<div class="container-fluid article-body">  
    <div class="row">
        <div class="col-sm-3 content-nav-bar">
            <div id="sidebar-article" class="sidebar list-group-item" style="overflow-x:auto; max-height: 600px;">
                <span>Contents:</span>
                <hr>
                {% include "mptt.html" %}
            </div>
        </div>
        <div class="col-sm-9 article-content">
            <div class="top-info">
                <h3 style="margin:0px!important;">{{object.course}}</h3><br>                
                <i class="fa fa-eye"> {% get_hit_count for object %} 浏览</i>
                <i class="fa fa-clock-o"> {{object.timestap|timesince}}</i>
            </div>
            <hr>       
            <p><b>{{object.index}} {{object.title}}</b></p>     
            版权声明: 转载请注明出处 <a href="http://www.codingsoho.com/">http://www.codingsoho.com/</a>             

            {{object.get_markdown}}

            {% if object.get_absolute_url_update and request.user.is_staff %}<a href="{{ object.get_absolute_url_update }}" class="btn btn-primary" style="color: white;" >{% trans "Update" %}</a>{% endif %}

            {% if object.get_absolute_url_delete and request.user.is_staff %}<a href="{{ object.get_absolute_url_delete }}" class="btn btn-primary" style="color: white;" >{% trans "Delete" %}</a>{% endif %}

            {% if request.user.is_staff %}<a href='{% url "textcourse:article_create" pk=object.course.pk%}'class="btn btn-primary" style="color: white;" > {% trans "Create" %}</a> {% endif %}


            <div class="row">
                <div class="col-sm-12">
                    <br>
                    <div class="text-center pull-right">
                        <ul class="pagination">            
                            <li class="page-item {% if not object.previous or not object|previous_active:request.user %}disabled{% endif %}"><a class="page-link" href="{{object|previous_active_url:request.user}}">上一篇</a></li>            
                            <li class="page-item"><a class="page-link" href="{{object.course.get_absolute_url}}">回到目录</a></li>            
                            <li class="page-item {% if not object.next or not object|next_active:request.user %}disabled{% endif %}"><a class="page-link" href="{{object|next_active_url:request.user}}">下一篇</a></li>            
                        </ul>
                    </div>
                    <br>                    
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock%}


<!--让左边目录栏跟随滚动-->
<script type="text/javascript">
{% block js %}
    var documentHeight = 0;
    var topPadding = 60;
    $(function() {
        var el = $("#sidebar-article");
        var offset = el.offset();
        documentHeight = $(document).height();
        $(window).scroll(function() {
            var sideBarHeight = el.height();
            if ($(window).scrollTop() > offset.top) {
                var newPosition = ($(window).scrollTop() - offset.top) + topPadding;
                var maxPosition = documentHeight - (sideBarHeight);
                if (newPosition > maxPosition) {
                    newPosition = maxPosition;
                }
                el.stop().animate({
                    marginTop: newPosition
                });
            } else {
                el.stop().animate({
                    marginTop: 0
                });
            }
        });
    });
{% endblock %}                
</script>