
{% extends "textcourse_base.html" %}
{% load staticfiles i18n %}

{% block content %}

<!-- <a href="{% url 'textcourse:article_search' %}"></a> -->

<form action="{% url 'textcourse:article_search' %}" method="get">   
    <div class="row">
      <div class="col-sm-6 push-sm-6">
      </div>        
      <div class="col-sm-6 pull-sm-6">
        <div class="input-group">
          <input type="text" name="q" id="search-input" class="form-control" placeholder="搜索内容" required="">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Go!</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-sm-6 -->
    </div>
    <br>  
</form>

{% include "course_list_content.html" with show_entry_list=True article_root=article_root %}

<br>
{% if request.user.is_staff %}
<a href='{% url "textcourse:article_create" pk=object.pk%}'><i class="fa fa-plus-square-o" aria-hidden="true"> {% trans "Create" %}</i></a> {% endif %}

{% endblock %}