{% extends "base.html" %}
{% load staticfiles %}


<style>
{% block style %}
{{block.super}}
.pagination a,
.pagination .current,
.pagination .prev,
.pagination .next {
    border: solid 1px #dbdee2;    
    color:#007bff;
    /*background-color: #e6e6e6;*/
}

.pagination .current{
    background-color: #007bff;
    color: white;
}


.pagination .prev,
.pagination .next {
    padding: 5px;
}

.pagination .current,
.pagination a{
    padding: 5px 15px;
}

.pagination .disabled{
    /*background-color: #dbdee2; */
    color: grey;
}

.pagination .prev{
    border-radius: 5px 0px 0px 5px;
}

.pagination .next{
    border-radius: 0px 5px 5px 0px;
}

{% endblock %}
</style>

{% block feature %}
<div style="background-color: #0085a1; margin-bottom: 10px;">
<br><br>
</div>
{% endblock %}
