{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}
{% load hitcount_tags %}

<style type="text/css">
p.category-para,
p.author-info{
    line-height: 1.5;
    margin: 10px 0;
}

.category-title{
    /*background-color: #007bff;*/
    /*padding: 5px;*/
    /*margin-right: 5px;*/
    /*font-size: smaller;*/
    /*color: white; */
    font-weight: bold;
}

.category-item{
    /*background-color: #007bff;*/
    /*padding: 5px;*/
    /*margin-right: 5px;*/
    /*font-size: smaller;*/
}

.category-item a{
    /*color: white;*/
}


.category-item-list{
    background-color: #dc3545;
    border-radius: 2px;
    padding: 1px;
    margin: 0px;
    color: white;
    line-height: 1.5;
}


.featured-image img{
    width: 100%;
    height: auto;
}

.post-preview .post-subtitle {
    font-weight: 300;
    margin: 0 0 10px;
}
</style>

<article class="article
    {% if article.is_featured %} featured {% endif %}
    {% if not article.published %} unpublished {% endif %}">

    <div class="post-preview">
        {% if not detail_view %}
        <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">
            <h2 class="post-title">
                {% if not detail_view and article.categories.exists %}
                    {% for category in article.categories.all %}
                        <span class="category-item-list">{{ category.name }}</span>
                    {% endfor %}
                {% endif %}                
                {% render_model article "title" "" "" "striptags" %}
            </h2>
        </a>
        {% else %}
            <h2>{% render_model article "title" %}</h2>
        {% endif %}

        {% if detail_view  %}
        <p class="author-info">{% include "aldryn_newsblog/includes/author.html" with author=article.author %}</p>           
        <i class="fa fa-eye" style="font-size: smaller;"> {% get_hit_count for object %} 浏览</i>  
        <i class="fa fa-clock-o" style="font-size: smaller;"> {{ article.publishing_date|date }}</i>   

        {% endif %}

        {% if detail_view and article.categories.exists %}
            <p class="category-para"><span class="category-title">{% trans "categories" %}:</span>
                {% for category in article.categories.all %}
                    <span class="category-item">
                    <a href="{% namespace_url 'article-list-by-category' category.slug namespace=namespace default='' %}">{{ category.name }}</a>
                    </span>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}


        {% if detail_view and article.tags and article.tags.count %}
            <p class="category-para"><span class="category-title">{% trans "tags" %}:</span>
                {% for tag in article.tags.all %}
                    <span class="category-item">
                    <a href="{% namespace_url 'article-list-by-tag' tag=tag.slug namespace=namespace default='' %}">{{ tag.name }}</a>
                    </span>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}

        <hr>
        {% if article.lead_in %}
        <h3 class="post-subtitle">
            {% if not detail_view %}
                {% comment %}
                {% if article.featured_image_id %}<img src="{% thumbnail article.featured_image 80x60 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}">{% endif %} 
                {% render_model article "lead_in" "" "" "truncatechars:'30'|striptags" %} # if there's format in lead, truncatechars will bring html breakage
                {% endcomment %}
                {% render_model article "lead_in" %}
            {% else %}
                {% render_model article "lead_in" %}
            {% endif %}
        </h3>
        {% endif %}

        {% if not detail_view  %}
        <p class="post-meta">Posted by {% include "aldryn_newsblog/includes/author.html" with author=article.author %} on {{ article.publishing_date|date:"F d, Y" }} </p>
        {% endif %}
    </div>

    {# The image is only shown on the detail view by using the condition "and detail_view" #}
    {% if article.featured_image_id and detail_view %}
        <p class="featured-image">
            <img src="{% thumbnail article.featured_image 800x450 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}">
        </p>
    {% endif %}
        
    <hr>


    <div class="post-content">
    {% if detail_view %}
        {% render_placeholder article.content language placeholder_language %}
    {% endif %}
    </div>
</article>
