{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}

<style type="text/css">
.category-item{
    background-color: grey;
    padding: 5px;
    margin-right: 5px;
}

.category-item a{
    color: white;
}

.featured-image img{
    width: 100%;
    height: auto;
}

</style>

<article class="article
    {% if article.is_featured %} featured {% endif %}
    {% if not article.published %} unpublished {% endif %}">
    
    {# The image is only shown on the detail view by using the condition "and detail_view" #}
    {% if article.featured_image_id and detail_view %}
        <p class="featured-image">
            <img src="{% thumbnail article.featured_image 800x450 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}">
        </p>
    {% endif %}

    {% if article.categories.exists %}
        <p>{% trans "categories" %}:
            {% for category in article.categories.all %}
                <span class="category-item">
                <a href="{% namespace_url 'article-list-by-category' category.slug namespace=namespace default='' %}">{{ category.name }}</a>
                </span>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}

    {% comment %}
    <h2>
        {% if not detail_view %}
            <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">{% render_model article "title" %}</a>
        {% else %}
            {% render_model article "title" %}
        {% endif %}
    </h2>

    <p>{{ article.publishing_date|date }}</p>

    {% include "aldryn_newsblog/includes/author.html" with author=article.author %}

    {% endcomment %}

    {% if article.tags and article.tags.count %}
        <p>{% trans "tags" %}:
            {% for tag in article.tags.all %}
                <span class="category-item">
                <a href="{% namespace_url 'article-list-by-tag' tag=tag.slug namespace=namespace default='' %}">{{ tag.name }}</a>
                </span>
            {% endfor %}
        </p>
    {% endif %}

    {% comment %}
    {% render_model article "lead_in" %}  
    {% endcomment %}

    <div class="post-preview">
        <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">
            <h2 class="post-title">
                {% render_model article "title" "" "" "striptags" %}
            </h2>
        </a>            
        {% if article.lead_in %}
        <h3 class="post-subtitle">
            {% if not detail_view %}
                {% render_model article "lead_in" "" "" "truncatechars:'30'|striptags" %}
            {% else %}
                {% render_model article "lead_in" %}
            {% endif %}
        </h3>
        {% endif %}

        <p class="post-meta">Posted by {% include "aldryn_newsblog/includes/author.html" with author=article.author %} on {{ article.publishing_date|date:"F d, Y" }}    </p>
    </div>
    <hr>


    <div class="post-content">
    {% if detail_view %}
        {% render_placeholder article.content language placeholder_language %}
    {% endif %}
    </div>
</article>
