p.cms-plugin, 
.post-content p,
.post-content ul>li, 
.post-content p>em,
.comments-list .panel-body
{
    word-wrap: break-word!important;
}

.post-content ul>li{
    /*font-size: smaller;*/
    /*font-style: italic;*/
}
p.cms-plugin img,
.post-content p img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 15px 0!important;
}

/*p.cms-plugin{
    font-size: inherit;
}*/

body {
    /*font-size: inherit;*/  /*1rem*/ /*overwrite clean-blog.css*/
}

h4, h5, h6{
    margin: 30px 0!important;
}

h5{
    margin-left: 30px!important;
}

h6{
    margin-left: 60px!important;
}

blockquote{
    font-size: smaller;
}

.container-fluid a, .container a{
    color: #2279d6;
    /*font-size: smaller;*/
}

.container-fluid a:hover, .container a:hover{
    color: #17a2b8;
    /*text-decoration: underline!important;*/
}

table p{
    margin: 1px!important;
}

table tr{
    border-bottom: 1px solid #eae3e3;
}

.container a, .container-fluid a{
    word-wrap: break-word;
}

/*table*/
.container table thead tr, 
.container-fluid table thead tr{
    background-color: #2279d663;
    color: white;
}

.container table tbody tr:nth-child(2n),
.container-fluid table tbody tr:nth-child(2n){
    background-color: #e9ecef;
}

.container table thead tr th, 
.container-fluid table thead tr th
{
    padding: 5px 10px;
}

.container table tbody tr td,
.container-fluid table tbody tr td{
    padding: 0px 10px;
}
