p.cms-plugin, 
.post-content p,
.post-content ul>li, 
.post-content p>em,
.comments-list .panel-body
{
    word-wrap: break-word!important;
}

.post-content ul>li{
    font-size: smaller;
    /*font-style: italic;*/
}
p.cms-plugin img,
.post-content p img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 15px 0!important;
}

h4, h5, h6{
    margin: 30px 0!important;
}

h5{
    margin-left: 30px;
}

h5{
    margin-left: 60px;
}