pre{
    margin:15px 0;
}

pre>code{
    margin:0;
    padding:0;
    white-space:pre;
    border:none;
    background:transparent;
}

pre{
    background-color:#f8f8f8;
    border:1px solid #ccc;
    font-size:13px;
    line-height:19px;
    overflow:auto;
    padding:6px 10px;
    border-radius:3px;
}

pre code{
    background-color:transparent;
    border:none;
}